# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
.nuget/
packages/

# VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test results
TestResults/

# OMC state
.omc/
